[user]
	name = shaobin0604
	email = bin.shao0604@gmail.com
[color]
	ui = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p

